html
    head
        title Node Js API 
        style 
            include ../static/style.css

    body 
        ul
            li
                a(href="/todos") /todos 
            li
                a(href="/user/1") /user/1 
                p You can put any user id into url
            
            
